<p>View blogs</p>
{%if user.is_authenticated%}
{%for user in users%}
{%if user in follow_users%}
<li><a href="{% url 'follow' user.username %}" style="background-color:#cec1c5">{{user.username}}</a></li>
{%else%}
<li><a href="{% url 'follow' user.username %}">{{user.username}}</a></li>
{%endif%}
{%endfor%}
{%else%}
{%for user in users%}
{%if user == follow_users%}
<li><a href="{% url 'page' user.username %}" style="background-color:#cec1c5">{{user.username}}</a></li>
{%else%}
<li><a href="{% url 'page' user.username %}">{{user.username}}</a></li>
{%endif%}
{%endfor%}
{%endif%}
